.cartItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
  height: 140px;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}
.cartItemCard {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  align-self: center;
  /* display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center; */
}
.cartItemQuantity {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
    display: flex;
  flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    
}
.cartItemQuantityText{
    font-size: 1.2rem;
}
.cartItemPrice {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
  
}

@media screen and (max-width: 575px) {
  .cartItemPrice{
    display: none;
  }
  .cartItemDeleteIcon {
    display: none;
  }
}

.cartItemTotal {
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: center;
    align-self: center;
}
