.body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.cartHeaderTitle {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.8rem;
  color: black;
  margin-top: 80px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

.cartItemsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 4fr 1fr;
  width: 75%;
  height: 70%;
  padding-top: 20px;
  margin-bottom: 10px;
  background-color:lightyellow;
  border-radius: 20px;
  /* scroll-behavior: smooth;
  overflow-y: scroll; */
  box-shadow: 1px 1px 1px 1px  black ;
}
.cartItemsHeader {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin-bottom: 0;
  margin-left: 3%;
  font-size: 1.5rem;
  background-color:whitesmoke;
  border-bottom: 1px solid black;
  border-bottom-style: dotted;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px  black ;
 
}
.cartItems {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.cartItemsHeaderName {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  justify-content: center;
}

.cartItemsHeaderPrice {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  
}

@media screen and (max-width: 575px) {
  .cartItemsHeaderPrice{
    display: none;
  }
  .cartItemsHeader {
    font-size: 1.3rem;
  }
}

.cartItemsHeaderQuantity {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}
.cartItemsHeaderTotal {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}
.emptyCartContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:lightyellow;
  border-radius: 20px;
}