.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 100vw;
  height: 10vh;
  font-size: 20px;
  position: fixed;
  z-index: 1;
}
.menu {
  display: flex;
  align-items: center;
}
.logoImg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.menuItem {
  margin-right: 1rem;
  font-size: larger;
  cursor: pointer;
  font-weight: bold;
  /* text-decoration: none; */

}
.menuLink{
    text-decoration: none;
    
}
.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  width: 15%;
  height: 3rem;
  padding: 1rem;
}

.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.inputSearch {
  border: none;
  outline: none;
  padding: 5px;
  height: 100%;
  width: 100%;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  
}

.iconsLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.registerContainer {
	display: flex;
	margin-bottom: 10px;
	border-top: 0.5px lightgray solid;
}

.connexionSection {
	display: flex;
	align-items: space-between;
  justify-content: space-between;
} 

.logoutSection {
  display: flex;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: #000; /* Couleur du bouton de fermeture */
}