.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
 
}

.backgroundContainer {
  height: 100vh;
  width: 100vw;
}


.backgroundImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
 
}

.title {
    letter-spacing: 2.5px;
    font-size: 30px;
    border: 6px double black;
    padding: 8px 10px;
    margin: 30px 30% 0px 30%;
    border-radius: 5px;
    background:white;
    line-height: 1.8;
    text-align: center;
    font-family: 'Press Start 2P, sans-serif';
}

.pressStartFont {
  font-family: 'Press Start 2P', sans-serif;
}


