@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: antiquewhite;
  padding-top: 10vh;
}
.body {
  scroll-behavior: smooth;
}

.homeImgContainer {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 100px;
}

.titleImage {
  height: 400px;
  width: 600px;
  object-fit: cover;
  object-position: center;
  top: 0;
}

.titleContainer {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeImgContainer {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
 
}

/* Définition de l'animation pour l'apparition */
@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* Appliquer l'animation aux images */
.poke1 {
  animation: appear 2s ease-in-out 0s ;
}

.poke2 {
  animation: appear 3s ease-in-out 0s ;
}

.poke3 {
  animation: appear 4s ease-in-out 0s ;
}

.poke4 {
  animation: appear 5s ease-in-out 0s;
}


@media screen and (max-width: 1400px) {
  .poke4 {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .poke3 {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .poke1 {
    display: none;
  }
}

@media screen and (max-width: 545px) {
  .titleImage {
    height: 200px;
    width: 300px;
  }
  .poke2 {
    height: 200px;
    width: 250px;
  }
}

.shopContainer {
  padding-top: 70px;
}
.scrollLink {
  text-decoration: none;
}

.title {
  letter-spacing: 2.5px;
  font-size: 30px;
  border: 6px double black;
  min-width: 160px;
  padding: 8px 10px;
  margin: 30px 30% 0px 30%;
  border-radius: 5px;
  background: white;
  line-height: 1.8;
  text-align: center;
  font-weight: 600;
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 2px 2px 2px antiquewhite;
  box-shadow: 3px 3px 3px black ;
}

.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 10vh; */

  /* valeurs supprimées pour le responsive à voir avec adrien. */

  /* margin-left: 10px; */
  /* margin-right: 10px; */
  /* padding-right: 40px; */
  /* padding-left: 40px; */
}
.scrollButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: brown;
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.arrowUp {
  width: 100%;
  height: 100%;
  color: beige;
}

.scrollButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: brown;
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.arrowUp {
  width: 100%;
  height: 100%;
  color: beige;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
