.cardContainer {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin:40px;
	padding: 20px;
	padding-bottom: 0px;
	text-align: center;
	width: 15rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.infosCard{
	padding:20px;
	padding-top: 0px;
	border-radius: 16px;
	font-size: 1.1rem;
}
.pokemon .imgContainer {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 130px;
	height: 130px;
	text-align: center;
}
.imgPokemon{
	width: 80%;
	height: 80%;
}

.pokemon .imgContainer img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 10px;
}

.pokemon .name {
	
	letter-spacing: 1px;
}
.bottomInfos{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
	margin-top:-10px;
	padding:15px;
}

.priceCard{
	font-size: 1.2rem;
	padding: 4px;
	display: flex;
	justify-content: flex-start;
}

.toCartBtn{
	padding: 4px;
	padding-right: 2px;
	border-radius: 5px;
	cursor: pointer;

}